<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jdy.member.dao.MemberDao">
    
    	<insert id="joinDao">
    		INSERT INTO membertbl(mid, mpw, mname, memail) VALUES (#{param1}, #{param2}, #{param3}, #{param4})
    	</insert>
    
    	<select id="checkIdDao" resultType="int">
    		SELECT count(*) FROM membertbl WHERE mid=#{param1}
    	</select>
    	
    	<!-- 전체회원목록 가져오기 -->
    	<select id="memberListDao" resultType="com.jdy.member.dto.MemberDto">
    		select * from membertbl
    	</select>
    	
    	<delete id="deleteDao">
    		delete from membertbl where mid=#{param1}
    	</delete>
    	
    	
    	
    	
    	
    	   	
    	
    	
    
</mapper>